<div class="container">
  <app-navbar></app-navbar>

  <div class="rounded" style="background-color: lightgray;">
    <div class="container container-custom">
      <br><h1>Welkom op de bier uitzoekmachine!</h1>
      <h3>Klik bovenin op Catalogus of <button class="btn btn-primary" routerLink="/catalog" routerLinkActive="active">hier</button> om gebruik te maken van de catalogus.</h3><br>
      <br>
      <h5><b>Uitleg:</b><br>
        Op de catalogus pagina is het mogelijk om op biertjes te zoeken en filters in te stellen aan de linker kant. Er kan gesorteerd worden door op de kopjes te klikken.<br>
        Ook is het mogelijk voor een gebruiker om nieuwe biertje toe te voegen, te veranderen en te verwijderen.<br>
        Dit is alleen mogelijk voor een gebruiker maar ik heb hier geen simpel login systeem aan vast gemaakt vanwege de tijd.<br>
        Als je op de login knop in de navbar klikt ben je meteen 'ingelogd' zodat je de user features kan testen. <br>
        Ik heb ook gebruik gemaakt van routing waardoor de pagina's hopelijk sneller moeten laden.<br>
        <br>
        Ik excuseer mij voor eventuele bugs en 'lack of' documentatie, maar ik kan gegaranderen dat dit grotendeels komt door tijdnood.<br>
        Een merkbare bug die er nu nog steeds in zit: <br>
        - Na het toevoegen/veranderen/verwijderen van een item word deze niet meteen in de lijst weergeven en is een refresh voor nodig<br>
        <br>
        Het kan ook misschien dat er nog modules meegeleverd worden bij het installeren die niet gebruikt worden maar hij zou het als het goed is meteen moeten doen, zolang de .json database aan het draaien is op port 3000. <br>
        Ik hoop spoedig op feedback van u te horen <mat-icon>mood</mat-icon>
      </h5>
    </div>
  </div>
</div>
